<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.markw.settings.device"
    android:sharedUserId="android.uid.system" >
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.INJECT_EVENTS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="28" />
    <application
        android:label="@string/advanced_settings"
        android:theme="@android:style/Theme.DeviceDefault.Settings"
        android:supportsRtl="true" >
        <activity
            android:name="com.markw.settings.device.DeviceSettings"
            android:exported="true"
            android:label="@string/advanced_settings" >
            <intent-filter>
                <action android:name="com.android.settings.action.EXTRA_SETTINGS" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_settings_device" />
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.device" />
             <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/summary_empty" />
        </activity>
        <receiver android:name="com.markw.settings.device.Startup" >
            <intent-filter android:priority="100" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
